name: Auto Update Sound Library

on:
  schedule:
    - cron: '*/15 * * * *' # every 15 minutes
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm install node-fetch@2

      - name: Run addSounds.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN_CUSTOM }}
        run: node addSounds.js
